@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-gray: var(--background-gray);
  --color-background-black: var(--background-black);
  --color-background-black-foreground: var(--background-black-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-cellcapital-light: var(--cellcapital-light);
  --font-sans: var(--font-pp-neue);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-border-background-black: var(--background-black-border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --text-body: 16px;
  --text-caption: 14px;
  --text-logo: var(--fs-logo);
}

:root {
  --radius: 0.625rem;
  --background: oklch(98.91% 0.003 67.78);
  --background-gray: oklch(96.13% 0.007 88.64);
  --background-black: oklch(23.5% 0 0);
  --background-black-foreground: oklch(0.985 0 0);
  --cellcapital-light: oklch(43.83% 0.002 106.47);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(77.55% 0.126 52.21);
  --primary-foreground: var(--foreground);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(50.96% 0.003 106.51);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(82.34% 0 0);
  --background-black-border: var(--cellcapital-light);
  --input: oklch(89.49% 0.006 84.57);
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .text-heading-0 {
    @apply text-[36px] md:text-[48px] -tracking-[0.8px] lg:text-[60px] leading-[1.1] md:-tracking-[1.5px];
  }

  .text-heading-one {
    @apply lg:text-[32px] md:text-[26px] text-[18px];
  }

  .text-paragraph {
    @apply lg:text-[20px] text-[16px];
  }
}

.backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(23, 88%, 60%);
  mix-blend-mode: multiply;
  backdrop-filter: blur(15px);
}

.blob-wrapper {
  filter: blur(4px) contrast(15);
}

.menu-overlay,
.floating-nav {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-link-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
