@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-gray: var(--background-gray);
  --color-background-black: var(--background-black);
  --color-background-black-foreground: var(--background-black-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-cellcapital-light: var(--cellcapital-light);
  --font-sans: var(--font-pp-neue);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-border-background-black: var(--background-black-border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --text-body: 16px;
  --text-caption: 14px;
  --text-logo: var(--fs-logo);
  --text-heading-0: var(--text-heading-0);
  --text-heading-one: var(--text-heading-one);
  --text-navbar: var(--text-navbar);
  --text-paragraph: var(--text-paragraph);
}

:root {
  --radius: 0.625rem;
  --background: oklch(98.91% 0.003 67.78);
  --background-gray: oklch(96.13% 0.007 88.64);
  --background-black: oklch(23.5% 0 0);
  --background-black-foreground: oklch(0.985 0 0);
  --cellcapital-light: oklch(43.83% 0.002 106.47);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(74.4% 0.174 57.93);
  --primary-foreground: var(--foreground);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(50.96% 0.003 106.51);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(82.34% 0 0);
  --background-black-border: var(--cellcapital-light);
  --input: oklch(89.49% 0.006 84.57);
  --text-heading-0: clamp(2.6em, 6vw + 0.5rem, 8em);
  --text-navbar: clamp(1em, 1.2vw + 0.2rem, 2em);
  --text-heading-one: clamp(1.4em, 2vw + 0.5rem, 3.5em);
  --text-paragraph: clamp(1.1em, 1.1vw + 0.4rem, 2em);
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply leading-[1.1] -tracking-[0.8px]  md:-tracking-[1.5px];
  }

  h2 {
    @apply leading-[1.2] -tracking-[0.1px] md:-tracking-[0.2px];
  }

  @media screen and (min-width: 450px) {
    .sm-media {
      @apply hidden;
    }
  }

  @media screen and (max-width: 450px) {
    .sm-media-hidden {
      @apply hidden;
    }
  }

  @media screen and (min-width: 1400px) {
    .text-heading-0 {
      @apply text-[90px] -tracking-[2.2px];
    }

    .text-heading-one {
      @apply text-[28px];
    }

    .text-paragraph {
      @apply text-[22px];
    }
  }
}

.backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
  z-index: -1;
}

.blob-wrapper {
  filter: blur(4px) contrast(15);
}

.floating-nav {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-overlay {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.menu-link-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-backdrop {
  background-color: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(5px);
}
